{% extends "layouts/header.html" %}
{% set page_title = 'MapOut Algorithm' %}

{% block meta %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="description" content="" />
<meta name="keywords" content="">

{% endblock %}

{% set version = '1.9.9' %}

{% block css_style %}
   <link rel="stylesheet" href="{{ url_for('static', filename='desktop/css/typeahead.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='desktop/dist/css/bootstrap-3.2.0/bootstrap.min.css') }}">

   <link rel="stylesheet" href="{{ url_for('static', filename='desktop/js/vendors/bootstrap-datepicker/datepicker3.css') }}">
   <style>

      #app-content .input-city,
      #app-content .input-start-city{
         width: 250px;
      }
      #app-content .input-city{
         margin-bottom: 5px;
      }
   </style>
   <!--<link rel="stylesheet" href="{{ url_for('static', filename='desktop/dist/css/bootstrap-3.3.0/bootstrap.min.css') }}">!-->


{% endblock %}

{% block main_body %}

<div id="app-content">

   <div id="header-region"></div>

   <div class="container">
      <div class="content-wrap col-xs-12">
         <div id="main-region">
            <h3>From</h3>

         <form class="form-inline start-input">
            <div class="form-group">
               <label class="sr-only" >city</label>
               <input class="input-start-city form-control" autocomplete="off" placeholder="Enter City">
            </div>

            <div class="form-group">
               <label class="sr-only" >city</label>
               <input class="input-start-date form-control" placeholder="start (YYYY-MM-DD)">
            </div>
         </form>

         <hr>
         <h3>Visiting</h3>

         <div id='cities-wrap'>

         </div>
         <p>
            *Other parameter: 1 passenger, 0 child, 0 senior, non-refundable.
         </p>
         <button id='add-city-btn' type="submit" class="btn btn-default">Add another city</button>
         <hr>
         <button id='optimize-btn' type="submit" class="btn btn-default">Optimize</button>
         <button id='autofill-europe-btn' type="submit" class="btn btn-default">auto-fill Europe</button>
         <button id='autofill-asia-btn' type="submit" class="btn btn-default">auto-fill Asia</button>
         </div>

         <hr>
         <div id='loading-sign'>Loading...</div>
         <div id='result-wrap'>


             <!--  <li class="list-group-item">
                  <p class='list-price'>Sale Price: <span>USD609.30</span></p>
                  <ul class='list-slice'>
                     <li>UA 458 LAX 2015-02-26T08:37-08:00 SFO 2015-02-26T10:15-08:00</li>
                     <li> UA 871 SFO 2015-02-26T12:10-08:00 TPE 2015-02-27T18:25+08:00</li>
                  </ul>
               </li>
               <li class="list-group-item">
                  <p class='list-price'>Sale Price: <span>USD609.30</span></p>
                  <ul class='list-slice'>
                     <li>UA 458 LAX 2015-02-26T08:37-08:00 SFO 2015-02-26T10:15-08:00</li>
                     <li> UA 871 SFO 2015-02-26T12:10-08:00 TPE 2015-02-27T18:25+08:00</li>
                  </ul>
               </li>!-->
            </ul>
         </div>

      </div>
   </div>
   <div id='footer-region'></div>

</div>
   </div>

{% endblock %}
{% block js_btm %}
<script src="/static/desktop/js/vendors/jquery/jquery.js"></script>
<script src="/static/desktop/js/vendors/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/static/desktop/js/vendors/typeahead.js/typeahead.bundle.js"></script>
<script src="/static/desktop/js/vendors/underscore/underscore.js"></script>
<script src="/static/desktop/js/vendors/handlebars/handlebars.js"></script>
<script src="/static/desktop/js/vendors/moment/moment.js"></script>
<!--<script src="/static/desktop/js/alg/airport_code.js"></script>!-->
<script src="/static/desktop/js/alg/main.js"></script>

{% endblock %}
